# Java & Maven
server/target/
server/pom.xml.tag
server/pom.xml.releaseBackup
server/pom.xml.versionsBackup
server/pom.xml.next
server/release.properties
*.class

# IDE & Editor files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables & Secrets
.env
.env.local
.env.*.local

# own plan implemetation/docs files
.plan/
