# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout, with LF in repo
*.java text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.gitkeep text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare files that are binary and must not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg binary
*.jar binary
*.war binary
